<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>459343735367-p2u9llf180g83ecpfcgp848j0oe9c29e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.459343735367-p2u9llf180g83ecpfcgp848j0oe9c29e</string>
	<key>API_KEY</key>
	<string>AIzaSyBPmrJqKq9sqtTu2Y2GxqOlGsTc77__XfY</string>
	<key>GCM_SENDER_ID</key>
	<string>459343735367</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodlyCleanArc</string>
	<key>PROJECT_ID</key>
	<string>foodly-clean-arch</string>
	<key>STORAGE_BUCKET</key>
	<string>foodly-clean-arch.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:459343735367:ios:ad5d4f8331f34b03471f62</string>
</dict>
</plist>